
body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    background-color: skyblue;
    color: black;
    background-image: url(img/R.png);
}
img{
    position:static;
   
}
.login-container {
    width: 300px;
}

.login-form {
    display: flex;
    flex-direction: column;
}

label {
    margin-bottom: 8px;
    
}

input {
    padding: 8px;
    margin-bottom: 16px;
}

button {
    padding: 10px;
    background-color: white;
    color: black;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: black;
    color: white;
}
